h1 {
  font-size: 40px;
  text-align: center;
}
.frame_center {
  text-align: center;
  margin-left: 35%;
}

.overlay {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: #f4f4f4;
  z-index: 200;
  position: relative;
  height: 300px;
  width: 300px;
  top: 100px;
  left: 100px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}
@keyframes modalopen {
      from {opacity: 0;}
      to {opacity: 1;}
    }
