h1 {
  font-size: 40px;
  text-align: center;
}


.button {
  z-index: 1;
  background: red;
  color: #fff;
  padding: 0 1em;
  margin: 0 1em;
  border: 0;
  width: 120px;
  height: 40px;
  font-size: 16px;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  align-content: center;
}

.button-close {
  width: 400px;
  margin: auto;
  text-align: left;
  height: 40px;
}

.modal-close {
  border: 0;
  background: transparent;
  font-size: 32px;
  text-align: center;
  cursor: pointer;
}


#my-iframe {
  background-color: #f4f4f4;
  width: 400px;
  height: 100%;
  max-height: 800px;
  min-height: 600px;
  border-radius: 10px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.fadein {
  animation : modalopen 0.5s;
  animation-fill-mode: both; 
}

.overlay {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 100px;
}

#modal {
  height: 600px;
}

.modal-out {
  width: 400px;
  height: 40px;
  margin: 0 auto;
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-body {
  padding: 12px;
  text-align: center;
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeout {
  animation : fadeout 0.5s;
  animation-fill-mode: both;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.go-other > button {
  background: blue;
  color: white; border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin: 8px;
  height: 32px

}
